genome=5755620
infile=/home/groupb/analysis/Team2-GenomeAssembly/post_QC/merge_contigs.fa
outfile=/home/groupb/analysis/Team2-GenomeAssembly/post_QC/meta_contig.fa
nucmer=/home/groupb/bin/tools/mummer-3.23/nucmer
R2_Gap=0.95
CISA=/home/groupb/bin/tools/CISA1.3
makeblastdb=/home/groupb/bin/tools/makeblastdb
blastn=/home/groupb/bin/tools/blastn