count=4 
data=/home/groupb/analysis/Team2-GenomeAssembly/post_QC/contig/spades.fasta,title=spades
data=/home/groupb/analysis/Team2-GenomeAssembly/post_QC/contig/platanus.fasta,title=platanus
data=/home/groupb/analysis/Team2-GenomeAssembly/post_QC/contig/idba.fasta,title=idba
data=/home/groupb/analysis/Team2-GenomeAssembly/post_QC/contig/megahit.fasta,title=megahit
Master_file=/home/groupb/analysis/Team2-GenomeAssembly/post_QC/merge_contigs.fa
min_length=100
Gap=11
